page-signup {
    ion-content.wrapper {
        float: left;
        width: 100%;
        background: #f2f2f2;
        margin: 0 auto;
    }
    .container {
        
        padding: 0 50px;
    }
    .heading{
        font-family: 'Open Sans', sans-serif;
        font-size: 28.14px;
        color: #423256;
        text-transform: uppercase;
        text-align: center;
        // margin-top: 20px;
        padding-top: 30px;
        margin-bottom: 32px;
        margin-top: 0!important;
    }
    .list-ios > .item-block:first-child {
       border-top: none!important; 
    }
    .list-ios .item-block .item-inner {
        border-bottom: none!important;
    }
    .form-label {
        font-size: 10.55px;
        font-family: 'Open Sans', sans-serif;
        color: rgb( 102, 102, 102 );
        margin-bottom: 6px;
    }
    .item-ios{
        padding-left: 0!important;
    }
    .item-ios.item-block .item-inner{
        padding-right: 0!important;
    }
    .grid {
        padding: 0!important;
    }

    .input1 {
        border-radius: 2px;
        background-color: white;
        -webkit-box-shadow: 2px 3.464px 9px 0px #403252;
        box-shadow: 2px 3.464px 9px 0px #40325226;
        height: 33px;
        display: flex;
        padding: 0 10px!important;
        margin-bottom: 24px;
        -webkit-appearance: none;
        -moz-appearance:textfield;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
       
    }
::placeholder{
    font-size: 10.55px;
    font-family: 'Open Sans', sans-serif;
        color: rgba( 102, 102, 102, 0.302 ); 
}      
::-webkit-placeholder {
    font-size: 10.55px;
    font-family: 'Open Sans', sans-serif;
    color: rgba( 102, 102, 102, 0.302 ); 
 }
 ::-moz-placeholder {  
    font-size: 10.55px;
    font-family: 'Open Sans', sans-serif;
    color: rgba( 102, 102, 102, 0.302 ); 
 }
 input.text-input.text-input-ios {
    margin: 0!important;
}
.col {
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up {
    margin: 0;
    /* padding: 0; */
    font-family: 'Open Sans', sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 16px;
    box-shadow: 4.5px 7.794px 18px 0px rgb( 63, 50, 80 );
    width: 111px;
    height: 34px;
    background:rgb(82,52,122);
    font-size: 8.21px;
    margin-bottom: 25px;
}
.iam-content {
    float: left;
    width: 100%;
    display: flex;
}
.mentor1{
    text-align: right;
    width: 50%;
    margin-right: 8px;
    background: #423256;
    -webkit-box-shadow: 2px 3.464px 9px 0px black;
    box-shadow: 2px 3.464px 9px 0px #0000002b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.student1{
    text-align:left;
    width: 50%;
    color: #423256;
    background-color: white;
    -webkit-box-shadow: 2px 3.464px 9px 0px black;
    box-shadow: 2px 3.464px 9px 0px #0000000d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mentor,.student{
    /* width: 100%; */
    border: none;
    background: none;
    /* float: left; */
    // display: flex;
    // justify-content: center;
    /* align-items: center; */
    padding: 0;
    /* text-align: left; */
    /* text-align: center; */
    margin: 0;
}
.mentor a {
    text-decoration: none;
    padding: 10px 28px;
   
    border: none;
  
    font-size: 10.55px;
    border-radius: 2px;
    position: relative;
    margin: 0;
    /* width: 100px; */
    text-transform: capitalize;
    font-weight: normal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.student a{
    text-decoration: none;
    padding: 11px 34px;
    color: #423256;
    font-size: 10.55px;
    border: none;
    border-radius: 2px;
    margin: 0;
    // padding: 0;
    // width: 100px;
    text-transform: capitalize;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox .checkbox-icon{
    width: 13px;
    height: 13px;
    -webkit-box-shadow: 2px 3.464px 9px 0px #4032524f;
    box-shadow: 2px 3.464px 9px 0px #4032524f;
    border-color:#ece7ff!important;
    bottom: 1px;
    border-radius: 50%;
    margin-right: 5px;
   } 
   .checkbox .checkbox-checked .checkbox-inner {
    left: 4px!important;
    top: 1px!important;
    border-color: rgb(63,50,80);
   }
   .checkbox-ios-dark .checkbox-checked,.checkbox-md-dark .checkbox-checked,.checkbox-wp-dark .checkbox-checked {
    border: 1px solid  #fff!important;
     background: white!important;
}
.checkbox-wp .checkbox-checked .checkbox-inner{
    left: 4px !important;
    top: 1px !important;
    width: 4px;
    height: 9px;
}

.checkbox-md .checkbox-icon ,.checkbox-wp .checkbox-icon {
    border-width: 1px!important;
    border-style: none;
    border-color: none;
    background-color: #fff;
}

 .checkbox-md .checkbox-checked .checkbox-inner {
    left: 4px !important;
    top: 1px !important;
    width: 4px;
    height: 9px;
    border-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: rgb(63,50,80);
}
.new-user{
    color:#b5b2b9;
    font-size: 10.55px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}
.new-user span a{
    color:#594079;
}
ion-list{
    margin-bottom:28px!important;
}
.text-input-md ,.text-input-wp{
    margin:0!important;
    padding: 0;
    width: 0!important;
    border:none!important;
    line-height:0!important;
}
.header .toolbar-background, .footer .toolbar-background {
    border:none;
}
.toolbar-background {
    background: #f2f2f2;
}
.header-md::after {
  
    background: none!important;

}
.button:hover:not(.disable-hover) {
    background-color: rgb(120, 106, 139);
}
@media screen and (min-width:0px) and (max-width:1280px) and (orientation:landscape)
{
.scroll-content{overflow-y:scroll!important;}
}
}

  